<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array/>
	<key>resolutionData</key>
	<dict>
		<key>childOrder</key>
		<dict/>
		<key>sheetClusters</key>
		<dict>
			<key>My-Own-life.md</key>
			<dict>
				<key>lastModification</key>
				<real>495738871.80457902</real>
				<key>version</key>
				<dict>
					<key>feca423a5ca011e04c16cd4a70e174b7578e57aab089d13b285db7943e2fa71d</key>
					<integer>15</integer>
				</dict>
			</dict>
			<key>comment-on-Fenng.md</key>
			<dict>
				<key>lastModification</key>
				<real>522656904.21626502</real>
				<key>version</key>
				<dict>
					<key>feca423a5ca011e04c16cd4a70e174b7578e57aab089d13b285db7943e2fa71d</key>
					<integer>37</integer>
				</dict>
			</dict>
			<key>interpreter's-interpretation-of-telemedicine.md</key>
			<dict>
				<key>lastModification</key>
				<real>522656956.447429</real>
				<key>version</key>
				<dict>
					<key>feca423a5ca011e04c16cd4a70e174b7578e57aab089d13b285db7943e2fa71d</key>
					<integer>46</integer>
				</dict>
			</dict>
			<key>med-comic.md</key>
			<dict>
				<key>lastModification</key>
				<real>522656936.66961098</real>
				<key>version</key>
				<dict>
					<key>feca423a5ca011e04c16cd4a70e174b7578e57aab089d13b285db7943e2fa71d</key>
					<integer>43</integer>
				</dict>
			</dict>
			<key>no-drug-to-use.md</key>
			<dict>
				<key>lastModification</key>
				<real>522656929.11404401</real>
				<key>version</key>
				<dict>
					<key>feca423a5ca011e04c16cd4a70e174b7578e57aab089d13b285db7943e2fa71d</key>
					<integer>41</integer>
				</dict>
			</dict>
			<key>the-super-bug.md</key>
			<dict>
				<key>lastModification</key>
				<real>522656920.19292098</real>
				<key>version</key>
				<dict>
					<key>feca423a5ca011e04c16cd4a70e174b7578e57aab089d13b285db7943e2fa71d</key>
					<integer>39</integer>
				</dict>
			</dict>
			<key>口译记事-Hypertriglyceridemia一例.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>522656939.64795297</real>
				<key>lastModification</key>
				<real>522656939.64795297</real>
				<key>version</key>
				<dict>
					<key>feca423a5ca011e04c16cd4a70e174b7578e57aab089d13b285db7943e2fa71d</key>
					<integer>45</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>interpreter's-interpretation-of-telemedicine.md</string>
		</array>
		<array>
			<string>My-Own-life.md</string>
		</array>
		<array>
			<string>口译记事-Hypertriglyceridemia一例.md</string>
		</array>
		<array>
			<string>med-comic.md</string>
		</array>
		<array>
			<string>no-drug-to-use.md</string>
		</array>
		<array>
			<string>the-super-bug.md</string>
		</array>
		<array>
			<string>comment-on-Fenng.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>feca423a5ca011e04c16cd4a70e174b7578e57aab089d13b285db7943e2fa71d</key>
			<integer>3</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>feca423a5ca011e04c16cd4a70e174b7578e57aab089d13b285db7943e2fa71d</key>
			<integer>47</integer>
		</dict>
	</dict>
</dict>
</plist>
